.layout{
    width: 93%;
    height: 98%;
    margin: 2% 0px 0px 3.5%;
    padding: 0.5em;
    box-shadow:inset 0 0 0 50vw rgba(255,255,255,0.25);
    min-height: 70em;
    border-radius: 0.2em;
}
.layout__title{
    color: #CCD1D7;
    font-family: Comic Sans MS, Comic Sans, cursive;
}